footer {
  height: 5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, var(--clr-primary), var(--bg-primary));
  position: absolute;
  bottom: 0;
  left: 0;
}
footer .footer-container {
  height: 50%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.4rem;
  background: linear-gradient(180deg, var(--clr-primary), var(--bg-primary));
  color: var(--clr-bold);
}
